header{
    height: 50px;
    border:1px solid black;
    margin:10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.title{
    font-size: 25px;
    padding: 10px;
    color: white;
}

.button-reset-reset{
    position: absolute;
    left: 12px;
    top: 50px;
}